@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main-section{
    display: block; 
    flex-direction: column;
    text-align: center ;
    margin: auto;
   
   
  }

   h1{
    text-align: center;
   }
   input{
    display: block;
    margin: auto;
    width: 20%;
    height: 50px;
    padding: 1rem;
    margin-top: 1rem;
  }

 #nxtBtn{
    background-color: #e7e7e7;
    border: none;
  
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
  
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 1rem;
 }
 #showBtn{
    display: block;
    margin: auto;
    margin-top: 1rem;
    background-color: #e7e7e7;
    border: none;
  
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
  
    font-size: 16px;
    cursor: pointer;
    display: block;
   
 }
 table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 100px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: block;
    margin-left: 34rem;;
    margin-right: 35rem;
 }
 td {
    padding: 12px 15px;
  }
  th {
    padding: 12px 15px;
  }
  tr {
    border-bottom: 1px solid #dddddd;
  }
  tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  tr.active {
    font-weight: bold;
    color: #009879;
  }
  body{
    background-color: #f3f4f6;
    background-image: url("images/undraw_wallet_aym5.svg");
    font-family: 'Roboto', sans-serif;
    background-size: 550px 500px;
    background-repeat: no-repeat;
  }
  p{
    font-size: large;
    padding-left: auto;
  }
  label{
      font-size: large;
      margin-top: 1rem;
      
  }

  .footer {
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding-right: 4rem;
    padding-inline-start: 0rem;

}
